/*Colores del proyecto*/

$azulOscuro: #243247;
$azulClaro:#286090;
$negroPixelpro:#222222;
$grisClaro:#EEEEEE;
$blancoTexto:#ddd;

$colorPrincipal: $azulOscuro;
$colorFondo: $grisClaro;
$colorTitulos: $azulOscuro;
$colorParrafo: $azulOscuro;


/*Tipografias*/ 
$fTitulos: 'Oswald', sans-serif;
$fSubtitulos: 'Oswald', sans-serif;
$fParrafo: 'Lato', sans-serif;
